.form {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 10px;
}

@media (max-width: 540px) {
    .form {
        grid-template-columns: 1fr;
    }
}

.form__input {
    padding: 10px;
    border: 1px solid #ddd;
}

.form__button {
    background-color: hsl(180, 100%, 25%);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    transition: 0.5s linear;
}

.form__button:hover {
    background-color: hsl(180, 100%, 35%);
}

.form__button:active {
    background-color: hsl(180, 100%, 40%);
    transform: scale(1.1);
}